/IPC/pract1/IPC_FXMLCore-master/build/
/IPC/pract1/pract1/nbproject/private/
/IPC/pract1/pract1/build/
/IPC/pract1/login/nbproject/private/
/IPC/pract1/login/build/
/IPC/pract1/IPC_FXMLCore-master/nbproject/private/
/IPC/default_project/IPC_FXMLCore-master/nbproject/private/
/IPC/pract1/calculator/nbproject/private/
/IPC/pract1/calculator/build/
/IPC/pract1/calculator/dist/
/IPC/calculator/build/
/IPC/calculator/dist/
/IPC/calculator/nbproject/private/
/IPC/pract2/IPC_FXML_Practica2/nbproject/private/
/IPC/pract2/IPC_FXML_Practica2/build/
/IPC/pract3/IPC_FXML_ListView-main-solved/nbproject/private/
/IPC/pract3/IPC_FXML_ListView-main-solved/build/
